<!DOCTYPE html>
<html>
  <head>
    <title>bubble</title>
    <link rel='stylesheet' type='text/css' media='all' href='application.css'>
  </head>
  <body>
    <%= yield %>
    <%= partial '_footer'%>
  </body>
</html>
